<head>
<link href='http://fonts.googleapis.com/css?family=Roboto:700,300' rel='stylesheet' type='text/css'>
</head>

<body id = "welcome">
  <div id = "title-section">
    <div id="app-title">
      <span>Hospital</span>
      <span>Price</span>
      <span>Compare</span>
    </div>
    <div id="tagline">
      <span>Find the most affordable hospital</span>
      <span> for your procedure</span>
    </div>
  </div>
  <div id="front-page-buttons">
    <button class="front-page-button"><a href="/login">Log In</a></button>
    <button class="front-page-button"><a href="/users/new">Create Account</a></button>
  </div>
</body>
