<style>
body {
  background-color: white
}
div{
  color: #182945;;
}
</style>
<img src="http://i.imgur.com/rmAHfFl.png" title="Hosted by imgur.com" height=500/>
<body>
<div class="user_panel">
  <p><%= link_to "Join Now", new_user_path if session[:user_id].nil? %></p>
</div>
</body>
