<head>
  <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
<style>
  body {background-image:url('http://3.bp.blogspot.com/-J1GiJ8Wo6yc/UG3A5zhcAgI/AAAAAAAAADU/0-g6OqEjs_g/s1600/iStock_000005048392XLarge_wFade.jpg');}
</style>
</head>
<h1>HospitalPriceCompare</h1>
<body>
<div class="user_panel">
  <p><%= link_to "Join Now", new_user_path if session[:user_id].nil? %></p>
</div>
</body>
