<head>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'/>
</head>

<body id = "welcome">
  <div id = "title-section">
  <h1 id="app-title">HOSPITAL PRICE COMPARE</h1>
  </div>
  <h2 id="tagline">Find the most affordable hospital for your procedure</h2>
</body>
