<%= render 'layouts/header' %>
<body class="hospital-search">
  <h2>Search Hospitals</h2>
  <%= render "form" %>
</body>
<h5> *MCC: major complications</h5>
<h5> *CC: comorbidity, meaning the simultaneous presence of two chronic diseases or conditions </h5>