/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
li{
  display:inline;
  margin:0px;
  padding:10px;
}


ul{
  width: 100%;
  list-style-type:none;
  margin: -10px 0 3em -10px;
  padding:10px;
  overflow:hidden;
  background-color: #47834B;
}

h1{
  font-size: 64px;
  margin-top: 10px;
  color: #091D42  ;
  text-align: center;
  font-family: 'PT Serif Caption', serif;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #091D42;
}

a{
  font-family: Arial, Helvetica, sans-serif;
  color: #FBF6CE;
  text-decoration: none;
  font-weight: bold;
}

h2{
  color: #E8E8F0
}
ul{
  color: #E8E8F0
}

h4{
  color: #E8E8F0;
  font-style:italic;
}

h5{
  color: #E8E8F0;
}

label{
  color: #E8E8F0;
}

table{
  color: #E8E8F0;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 25px auto;
}

thead{
  text-align: center;
  background: #9AB4CB;
  font-size: 18px;
}

tbody tr{
 text-align: left;
 background: #E8E8F0;
}

tbody tr:hover {
  background: #FBF6CE;
}


th {
  border: 1px solid #999;
  padding: 0.5rem;
  border-color: white;
  border: 1px solid #ccc;
  color: #091D42;
}

td{
  background-color: #091D42;
}

input[type="submit"]{
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
input[type="submit"]:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
input[type="submit"]:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }





